.container.about
  .row
    .col.s12.m4.l4
      img(src='../assets/img/light-bulb.png' alt='think')
      h5 Think
      p
        | Every project begins with research into your brand, market, and competition. The strategy is treated like writing a story, walking visitors through a narrative that represents your brand and culture.
    .col.s12.m4.l4
      img(src='../assets/img/design.png' alt='design')
      h5 Design
      p
        | Not just what it looks like and feels like, but how it works. I go beyond just the surface and start at the core organization of my code, building with a philosophy that promotes user experience and usability.
    .col.s12.m4.l4
      img(src='../assets/img/coding.png' alt='develop')
      h5 Develop
      p
        | Working primarily with Front-End technologies, skilled in HTML5, CSS3, Vanilla JavaScript, JQuery & a handfull of popular JS Libraries. Shipping responsive, functional, and scalable solutions quickly.
