head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title {{ site.title }}
  meta(name='description' content='{{site.description}}')
  meta(name='keywords' content='{{site.keywords}}')
  link(rel='shortcut icon', href='../assets/img/favicon.png')
  link(rel='canonical' href='{{site.url}}')
  // Custom CSS
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/fonts/fontawesome-webfont.woff')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
  link(rel='stylesheet', href='assets/css/main.min.css')