.col.s12.m12.l12
	.intro.deep-orange.lighten-2.z-depth-1
		h1.grey-text.text-lighten-5 Welcome
		h1.grey-text.text-lighten-5 My Name is Rodney L. Lewis
		h3.grey.lighten-4.grey-text.text-darken-1 I'm a web designer & developer based in San Francisco Bay Area, CA with a passion for simple, functional & user oriented design.