body {
  padding-top: 40px;
  padding-bottom: 10px;
  color: #000;
  
}

h1, h2, h3, p {
	color: charcoal;
	margin-top: 0px;
	margin-bottom: 5px;
}

label {
	color: white;
}


img {
	border:1px solid #;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;  
}

a.thumbnail{
	max-width: 200px;
	display: inline-block;
}

.profile-image{
	max-width: 150px;
	max-height: 150px;
}

.profile-content{
	padding-top: 40px;
	float: right;
}

.media-object{
	max-width: 120px;
}

.container{
	padding-top: 10px;
	padding-bottom: 20px;
}


.fa.fa{
	font-size: large; 
}

.panel {
	background-color: transparent;
	padding: 5px;
}

.skills{
	padding-right: 10px;
}

.projects{
	padding-top: 20px;
	padding-right: 10px;
}

